@import './open-color'

$background-color = oc-white
$app-primary-color = #00b8d4

// Form Stuff
$input-text-color = #757575
$input-border-color = oc-gray-8
$input-border-focus-color = oc-gray-6
$input-selection-background-color = oc-gray-6
$input-selection-color = oc-gray-5
$label-color = darken($input-text-color, 45%)
$placeholder-color = darken($input-text-color, 65%)

// Home
$home-background-color = $background-color
$home-text-color = oc-gray-8
$home-logo-color = oc-black
$home-button-color = $home-text-color

// TopBar
$top-bar-background-color = $app-primary-color
$top-bar-logo-color = oc-white
$top-bar-logo-emphasis-color = oc-white
$top-bar-menu-color = lighten($app-primary-color, 35%)
$top-bar-menu-background-color = $app-primary-color

// SideNav
$side-nav-background-color = oc-white
$side-nav-hover-background-color = lighten($app-primary-color, 5%)
$side-nav-hover-color = oc-gray-0
$side-nav-active-background-color = lighten($app-primary-color, 10%)
$side-nav-active-color = oc-white
$preview-button-color = darken($app-primary-color, 5%)
$preview-button-border-color = lighten($app-primary-color, 5%)
$preview-button-hover-border-color = darken($app-primary-color, 20%)

// Content
$content-background-color = darken($background-color, 1%)
$section-heading-color = oc-black

// Templates
$templates-button-color = $home-button-color
$templates-button-border-color = oc-gray-8
$templates-text-color = oc-gray-7

// Preview
$progress-bar-outer-color = #a6abaa
$progress-bar-inner-color = #404040
$download-button-background-color = #a6abaa
