@import './open-color'

$background-color = oc-white

// Form Stuff
$input-text-color = #757575
$input-border-color = oc-gray-8
$input-border-focus-color = oc-gray-6
$input-selection-background-color = oc-gray-6
$input-selection-color = oc-gray-5
$label-color = darken($input-text-color, 45%)
$placeholder-color = darken($input-text-color, 65%)

// Home
$home-background-color = $background-color
$home-text-color = oc-gray-8
$home-logo-color = oc-black
$home-button-color = $home-text-color

// TopBar
$top-bar-background-color = $background-color
$top-bar-logo-color = oc-white
$top-bar-logo-emphasis-color = oc-black
$top-bar-menu-color = oc-white

// SideNav
$side-nav-background-color = $top-bar-background-color
$side-nav-hover-background-color = oc-grape-2
$side-nav-hover-color = oc-white
$side-nav-active-background-color = oc-grape-3
$side-nav-active-color = oc-black
$preview-button-color = oc-grape-4

// Content
$content-background-color = darken($background-color, 1%)

// Templates
$templates-button-color = $home-button-color
$templates-button-border-color = oc-gray-8
$templates-text-color = oc-gray-7

// Preview
$progress-bar-outer-color = #a6abaa
$progress-bar-inner-color = #404040
$download-button-background-color = #a6abaa
